html{
    background: #741739;;
}

body {
    min-height: 100vh;
    max-width: 992px;
    margin: auto;
    background: #E9984D;
    position: relative;
}

main{
    margin: 0 22px;
    padding-bottom: 50px;
}

.main_section_title{
    font-family: "Lily Script One", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_section_text {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 2.56px;
}

.main_section_text a {
    text-decoration: underline;
}

@media screen and (min-width: 993px) {
    main{
        margin-top: 80px
    }
    .main_section_title{
        font-size: 32px;
    }
}