.footer{
    margin-top: 20px;
    padding: 8px 22px;
    background: #26AADF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-desktop{
    display: none;
}

.footer p {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
}

@media screen and (min-width: 993px) {

    .footer-mobile{
        display: none;
    }

    .footer-desktop{
        display: block;
        padding: 16px;
    }

    .footer p {
        font-size: 16px;
        text-align: center;
    }
}