.header{
    position: relative;
    height: 393px;
}

.header_img-voile{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.30);
}

.header_img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header_title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

/** nav mobile **/
.header_mobile-nav_burger{
    border-radius: 5px;
    background: #26AADF;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav{
    position: absolute;
    inset: 0;
    background: #26AADF;
    padding-top: 57px;
    display: none;
}

.openMenu{
    display: block;
}

.header_nav img{
    position: absolute;
    top: 12px;
    right: 12px;
}

.header_nav_navigation_item {
    box-sizing: border-box;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
}

.header_nav_navigation_item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav_navigation_item p {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (min-width: 993px) {
    .header_title{
        font-size: 40px;
        line-height: normal;
    }
    .header_mobile-nav_burger{
        display: none;
    }

    .header_nav{
        position: absolute;
        top: 393px;
        left: 0;
        right: 0;
        background: #26AADF;
        padding-top: 0;
        display: block;
        height: 70px;
    }

    .header_nav img{
        display: none;
    }

    .header_nav_navigation {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header_nav_navigation_item {
        height: 70px;
        width: 167px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    .header_nav_navigation_item:hover {
        background: #076E97;
    }

    .header_nav_navigation_item:hover p {
        color: #FFF;
    }

    .header_nav_navigation_item:first-of-type {
        border-left: 2px solid white;
    }

    .header_nav_navigation_item:last-of-type {
        border-right: 2px solid white;
    }

    .currentPage {
        background: #076E97;
    }

    .currentPage p {
        color: #FFF;
    }
}