main{
    margin: 0;
}
.main_section{
    margin: 10px 0;
    background: #F9C596;
    padding: 20px 15px;
}

.main_section p, .main_section li {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.56px;
}

.main_section p {
    margin-bottom: 16px;
}

.main_section ul {
    margin-bottom: 16px;
    margin-left: 25px;
}

.main_section li {
    list-style: disc !important;
}

.main_img {
    width: 100%;
}

@media screen and (min-width: 993px) {
    main{
        margin-top: 80px
    }
}