main{
    margin: 0;
}
.main_section{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.rowReverse{
    flex-direction: row-reverse;
}

.main_section_textContainer{
    width: 100%;
    max-width: 375px;
    background: #F9C596;
    padding: 20px 15px;
    box-sizing: border-box;
}

.main_section_title{
    margin-bottom: 20px;
}

.main_section_text{
    margin-bottom: 10px;
}

.main_section_imagesContainer{
    width: 100%;
    max-width: 375px;
    height: 480px;
    position: relative;
    overflow: hidden;
}

.main_section_imagesContainer_images {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: left 0.5s linear;
}

.main_section_imagesContainer_images img {
    width: 375px;
    height: 480px;
    object-fit: cover;
    filter: brightness(0.95);
}

.main_section_imagesContainer_cursors{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.currentImage {
    background: black !important;
}

.chevron {
    position: absolute;
    top: 50%;
    width: 40px;
    cursor: pointer;
}

.chevron_left {
    left: 10px;
    transform: translateY(-50%) rotateZ(180deg);
}

.chevron_right {
    right: 10px;
    transform: translateY(-50%);
}

.cursor {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 50%;
}

@media screen and (min-width: 993px) {
    main{
        margin-top: 100px
    }

    .main_section_textContainer{
        width: 496px;
        max-width: 496px
    }

    .main_section_imagesContainer{
        width: 496px;
        max-width: 496px
    }

    .main_section_imagesContainer_images img {
        width: 496px
    }
}