.main_section{
    padding: 20px 0;
}
.formulaire{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form_input{
    width: 100%;
}

.input {
    border: none;
    outline: transparent;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 8px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.input::placeholder {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.56px;
}

.input_error, .input_error::placeholder {
    color: red;
}

.error {
    color: red;
    margin-top: 5px;
    font-weight: bold;
}

.btnContainer {
    margin: auto;
    width: 200px;
    height: 38px;
    position: relative;
}

.submit {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #26AADF;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    inset: 0;
    display: block;
}

.loading {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: lightgray;
    cursor: default;
    font-weight: bold;
    text-align: center;
    position: absolute;
    inset: 0;
    display: none;
}

.loading span {
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-radius: 50%;
    display: block;
    animation: rotate 1s linear infinite;
    margin: auto;
}

.result {
    width: 100%;
    text-align: center;
}

.map{
    padding-bottom: 20px;
}

iframe {
    width: 100%;
    height: 355px;
}

@media screen and (min-width: 993px) {
    main{
        margin-top: 80px
    }

    .input_duo {
        width: calc(50% - 10px);
    }

    iframe {
        width: 100%;
        height: 460px;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}