/** main **/
.main_section{
    padding: 20px 0;
}

.main_section_subtitle{
    font-family: "Lily Script One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_section_images {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 27px;
    column-gap: 27px;
}

.main_section_images img {
    width: 100%;
    max-width: 328px;
    height: 195px;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.mb0{
    margin-bottom: 0;
}

@media screen and (min-width: 993px) {

    .main_section_images img {
        width: 298px
    }
}